CompileFlags:
  CompilationDatabase: >-
    c:\CYCHEN38\OpenNuvoton\firmware\ML_M55M1_SampleCode\M55M1BSP-3.01.002\SampleCode\NuEdgeWise\ModelInference_EdgeImpulse\VSCode\out\ModelInference_EdgeImpulse\ARMCLANG\Release
