#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>

/{
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		sram_non_cache: memory@20110000 {
			compatible = "zephyr,memory-region";
			reg = <0x20110000 DT_SIZE_K(1280)>;  // Start address and size
			zephyr,memory-region = "SRAM_NON_CACHE";
	        zephyr,memory-attr = <DT_MEM_ARM_MPU_RAM_NOCACHE>;
		};
	};

	chosen {
        zephyr,extra-memory = &sram_non_cache;
    };
};
